@font-face {
   font-family: 'KALOOT';
   src: url("../../KALOOT.ttf");
}

#navbar {
   display: flex;
   justify-content: space-around;
}

a {
   text-decoration: none;
   color: #777;
}

a:hover {
   color: #000;
}

.currentPage {
   color: gray;
   pointer-events: none;
}

body {
   font-family: 'KALOOT';
   text-align: center;
   color: #777;
   background-image: url("../imgs/paper3.png");
   background-size: cover;
}

main {
   margin-left: 15%;
   margin-right: 15%;
   display: flex;
   flex-direction: column;
}
