@font-face {
   font-family: 'KALOOT';
   src: url("../../KALOOT.ttf");
}

#navbar {
   display: flex;
   justify-content: space-around;
   padding-bottom: 30px;
}

a {
   text-decoration: none;
   color: #777;
}

a:hover {
   color: #000;
}

.currentPage {
   color: gray;
   pointer-events: none;
}

body {
   font-family: 'KALOOT';
   text-align: center;
   color: #777;
   background-image: url("../imgs/paper3.png");
   background-size: cover;
}

main {
   margin-left: 15%;
   margin-right: 15%;
   display: flex;
   flex-direction: column;
}

#gamePic {
   max-width: 500px;
   min-width: 300px;
   margin: 0 auto;
}

#word {
   font-size: 40px;
}

ul {
   text-align: left;
}

#guess-container {
   display: flex;
   flex-direction: row;
}
